@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Eurostile LT";
	src: url("../public/fonts/EurostileLT-Demi.woff2") format("woff2"),
		url("../public/fonts/EurostileLT-Demi.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Eurostile LT";
	src: url("../public/fonts/EurostileLT-Oblique.woff2") format("woff2"),
		url("../public/fonts/EurostileLT-Oblique.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Eurostile LT";
	src: url("../public/fonts/EurostileLT.woff2") format("woff2"),
		url("../public/fonts/EurostileLT.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Eurostile LT";
	src: url("../public/fonts/EurostileLT-DemiOblique.woff2") format("woff2"),
		url("../public/fonts/EurostileLT-DemiOblique.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

html {
	scroll-behavior: smooth;
	font-family: "Eurostile LT";
	height: 100%;
	margin: 0;
}
@layer components {
	.active-nav {
		@apply text-gold;
	}
	.nav {
		@apply hover:text-gold active:text-gold transition-color duration-400 ease-ease;
	}
	.contact-text {
		@apply text-gold italic hover:dark:text-ivory active:dark:text-ivory hover:text-maire active:text-maire transition-color duration-400 ease-ease;
	}
}
